/* Including one css file into other */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Oxygen+Mono&family=Share+Tech+Mono&family=VT323&display=swap');

body {
  margin: 0;
  padding: 0;  
  background-color: #1A3950;
  /* background-color: #112255;   */  
}

* {
  font-family: 'Azeret Mono', 'IBM Plex Mono', 'Oxygen Mono','Share Tech Mono', monospace;
  color: #F1F0EE;
  text-shadow: 0 0 2px #000;
}

.glow {
  font-size: 80px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

.nocursor {  
  width:128x;
  height:128px;
  cursor: url('amiga_wb1_normal.cur'),            /* Modern browsers    */
          url('style/amiga_wb1_normal.cur'),      /* Internet Explorer  */
          default;
}

  
#instructions {
  color: #1A3950;
  font-family: "Helvetica", "Arial", sans-serif;
  font-weight: 200;
  position: fixed;
  top: 1em;
  left: 1em;
  letter-spacing: 1px;
}


.planet {
	cursor:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAPCAMAAAAxmgQeAAAACVBMVEX///8AAAD///9+749PAAAAAXRSTlMAQObYZgAAAD5JREFUGNN1j9EKADAIAnP//9GjFq6w7iU4DNRsB06cb44TJ+UzYUcniqnqoA6ag/62JhjKIU0rxx1lKveuXJ5UAQs/G/2vAAAAAElFTkSuQmCC),auto;
}

.trail { /* className for the trail elements */
    position: absolute;
    height: 6px; width: 6px;
    border-radius: 3px;
    background: white;    
}